<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0;url=https://lucaswils.com" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta property="og:url" content="<%= BASE_URL %>" />
    <meta property="og:title" content="Lucas Wils Photographe, Vidéaste, Journaliste" />
    <meta property="og:description" content="Formé à l’École de Journalisme de Lille, et après avoir fait l’achat d’un appareil photo, Wils Side Stories est vite né autour d’un voyage en Amérique en 2018." />
    <meta property="og:image" content="<%= BASE_URL %>img/logo_wils.0c5a2c3b.png" />
    <meta name="description" content="Lucas Wils Photographe, Vidéaste, Journaliste. Formé à l’École de Journalisme de Lille, et après avoir fait l’achat d’un appareil photo, Wils Side Stories est vite né autour d’un voyage en Amérique en 2018.">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <title>Lucas Wils</title>
  </head>
  <body>
  </body>
</html>
